body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  main {
    flex-grow: 1;
  }
  
  .widthLogo {
    width: 100px;
  }

  .bg-gray {
    background-color: gray;
  }